/******** Global ******/

.box {
    width: 40%;
    border-radius: 2rem;
    min-height: 85vh;
    margin: 2rem 2rem  2rem auto;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition: all 5ms ease-in;
}


/******* Home Page *******/

.logo {
    width:30%;
    margin: 1.5rem 0 .5rem;
}

.logo img {
    text-align: center;
    width: 100%;
}



.box .choice {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 65%;
}


.choice .btn {
    min-height: 3rem;
    padding: 0.875rem 0;
    border-radius: 10px;
    margin:0.5rem 0;
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
    transition: all .3s ease-in-out;
    background-color: #fff;
    border : 1px solid #DE3163;
    color: #DE3163;
    box-shadow: 3px 3px 3px rgba(214, 125, 132, 0.4);
}


.choice .btn-custom:hover {
    background-color: #DE3163;
    color: #fff;
    box-shadow: 3px 3px 6px rgba(0,0,0,.16);

}

.choice .btn-custom:focus {
    outline: 0;
    box-shadow: 3px 3px 6px rgba(0,0,0,.16);
}




.find {
    font-size: 1.3rem;
    margin: 1.5rem 0;
    font-weight: 200;
}

.applications {
    text-align: center;
    margin-bottom: 2rem;
}

.app-icon img {
    width: 30%;
    margin: auto;
}


/* login page */

.loginPage{
    margin-top: 1rem;

}

.loginPage .login{
    color: #DE3163;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    margin: 2rem auto 1rem auto;
}


.facebook,.google{
    width: 100%;
    height: 3rem;
    color: #fff;
    border: none;
    border-radius: .6rem;
}


.facebook{
    background-color: #305692;
}

.google{
    background-color:  #DB4A39;
}


.or {
    font-size: 0.4rem;
    margin-top: 1rem;
    color:gray;
}
.or::before,
.or::after {
    display: inline-block;
    content: "";
    border-top: 1px solid gray;

    width: 10rem;
    margin-right: 0.8rem;
    margin-left: .8rem;
    background-color:gray;

}


.groupForget{
    margin-top: 1rem;
}

.remember{
    text-align: right;
    padding-right: 0 !important;
}

.remember1{
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    vertical-align: middle;
    color: gray;
}


.checkbox{
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.forgetPassword{
    padding-left: 0!important;
}

.loginButton{
    width: 100%;
    height: 3rem;
    background-color: #DE3163 ;
    color: #fff;
    border: 1px solid #DE3163;
    border-radius: .6rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.loginButton:hover {
    background-color: #fff;
    color: #DE3163;
}

.createAccount{
    text-align: center;
    margin-top: 1rem;
}



/* signUp page */
.accept{
    text-align: right;

}
.accept1{
    padding-right: .5rem;
    color: gray;
    vertical-align: middle;
    font-size: .7rem;
    margin-bottom: 0.7rem;
}

.acc {
    font-size: 1rem;
    color: red;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;

    margin-bottom: 0.5rem;
}

/*ForgetPassword*/
.headText {
   color: #DE3163;
    margin: 2rem auto 3rem;
}


.box .passwordChoice {
    margin-top: 6rem;
}
.box .btn-send {
    margin-top: 1rem;
    border: 1px solid #DE3163;
    background-color: #DE3163;
    color: #fff;
}

.box .btn-email {
    min-height: 2.5rem;
    font-size: 1.2rem;
    align-self: center;
    margin : 3rem 0 ;
    padding: 0.875rem 0;
    width: 60%;
}

.box .btn-send:hover {
    background-color: #fff;
    color: #DE3163;
}
.box .email-filed {
    min-height: 3rem;
    padding: 0.875rem 0.5rem;
    text-align: right;
}

.box .email-filed:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 1px 0.2rem #ff82a6;
}


.pass , .RestPass {
    display: flex;
    padding-right: 0.5rem;
    justify-content: flex-end;
}

.RestPass {
    font-size: 1rem;
}
.pass {
    color: red;
}
/******  Footer Style *****/

.mainFooter {
    bottom: 0.5rem;
    width: 100%;
    margin: auto;
    display: flex;
}

.mainFooter ul {
    width: 35%;
    margin-left: 9rem;
    list-style: none;
    justify-content: space-around;
    display: flex;
    color: #fff;
    flex-direction: row-reverse;

}

.mainFooter .copyRight {
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    color: #C5C5C5;
}

.mainFooter .copyRight small{
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(106,119,117,0.7);
}
/******* Media Query ******/


@media (max-width: 992px){
    .box{
        width: 55%;
    }

    .mainFooter ul {
        margin-left: 2rem;
    }


}

@media (max-width: 768px) {
    .mainFooter {
        flex-direction: column-reverse;
    }

    .mainFooter .copyRight , .mainFooter ul {
        width: 100%;
    }

    .mainFooter ul {
        margin-left:0;
    }

    .box{
        width: 70%;
        margin: 2rem auto;

        height: 100%;
    }

}


@media (max-width: 576px) {
    .box {
        width: 95%;
    }
}



@media (max-width: 411px) {


    .or {
        text-align: center;
    }

    .or::before, .or::after {
        width: 7rem;
    }
    .facebook, .google {
        width: 90%;
    }

    .response {
        width: 95% !important;
        margin: auto !important;
    }


}